#searchBar{
  width: 200px;
  border-radius: 10px;
  /* border-style: none; */
  background-color: aliceblue;
}

#searchBarContainer{
  display: flex;
  justify-content: space-evenly;
  width: 310px;
  padding: 5px;
}
#searchOptions{
  padding: 5px;
  width: 240px;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
}
#advanceButton{
  padding: 5px;
  padding-left: 20px;
  background: none;
  color: aliceblue;
  border: none;
  cursor: pointer;
  outline: inherit;
}
#orderButton{
  padding: 5px;
  background: none;
  color: aliceblue;
  border: none;
  cursor: pointer;
  outline: inherit;
}
#searchButton{
  border-radius: 100%;
  border: none;
  background-color: rgb(253, 238, 24);
  font-weight: bolder;
  cursor: pointer;
  color: rgb(0, 0, 0);
  /* padding-left: 5px;
  padding-right: 5px; */
}

.navCurrent{
  color:rgb(194, 205, 233)
}

#advanceBox{
  background-color:rgb(8, 8, 37);
  z-index: 3;
  position: absolute;
  width: 250px;
  height: 200px;
  top:200px;
  border-radius: 10%;
  align-content: center;
  /* display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}
#advanceBox input{
  background-color: aliceblue;
  border-radius: 10px;
}
#orderBox{
  background-color:rgb(8, 8, 37);
  z-index: 3;
  position: absolute;
  width: 250px;
  height: 200px;
  top:200px;
  border-radius: 10%;
  align-content: center;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 18px;
}
#orderBox button{
  border-radius: 10px;
  background-color: rgb(253, 238, 24);
}