.dogsBox{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
.dogTemperament{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 0px;

  
}
.dogTemperament ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* column-count: 2;
  column-gap: 95px; */
  display: flex;
  flex-flow: wrap column;
  max-height: 150px;  
  
}

.dogCard{
  padding: 40px;
  padding-bottom: 100px;
  margin: 20px;
  border-radius: 50%;
  background-color: rgb(110, 110, 98);
  border-style: solid;
  border-color: aliceblue;
}
.dogCard:hover{
  background-color: rgb(110, 98, 98);
}
.imgDogContainer img{
  border-radius: 50px;
  
  width: 150px;
  height: 80%;
}

