#dogsBox{
    background-color:rgb(194, 205, 233);
    display: flex;
    min-height: auto;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    padding-bottom: 200px;
}